/* header{
  height: 100vh;
  width: auto;
}


footer{
  height: 100vh;
  width: auto;
} */


#footer-row{
  transform: translateX(6.5%) translateY(0%);
  width: 88vw;
  height: 18vw;
}


.header-row{
  height: 100%;
  width: 100%;
}

.main-font{
  font-family: 'Orbitron', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

.glow-button:hover {
  filter: drop-shadow(3px 3px 3px rgb(255, 0, 212)) saturate(90%);
  color: rgb(255, 0, 212);
  transition: 100ms ease-out;
}

.review-cards{
  transform: translateY(10%);
}


.parallax {
  background-image: url('https://images-na.ssl-images-amazon.com/images/S/pv-target-images/593285e169754e128ee9772b0b3459c4b4078152c2842f3a5d222da0efad481b._RI_.jpg');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background{
  background-image: url('https://images6.alphacoders.com/884/thumb-1920-884393.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
}

.move-that-left{
  transform: translateX(-33%);
}


.move-that-card{
  transform: translateY(-77%) translateX(-22%);
}

.move-that-down{
  transform: translateY(33%);
}

.bg-middle{
  background-image: url('https://wallpapercave.com/wp/wp2801544.jpg');
  background-size: cover;
}

.move-that-ish{
  transform: translateY(-40%) translateX(10%);
  max-height: 66vh;
}

.move-that-yabish{
  transform: translateY(-11%) translateX(44%);
}




@supports (display: flex) {
  @media screen and (max-width: 300px) {
    #input-card {
      display: flex;
      width: 90%;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #text-right, #card2, #go-away {
    display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #go-away {
      transform: translateY(50%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width:800px) {
    #card3 {
      width: 90%;
      height: 48vh;
      transform: translateY(-103%) translateX(5%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width:800px) {
    #card1 {
      width: 90%;
      height: 25vh;
      transform: translateY(200%) translateX(5%);
    }
  }
}


@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #go-away3 {
      display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #go-away4 {
      display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #text-clapper1 {
      transform: translateY(-20%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #text-clapper2 {
      transform: translateY(-30%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 1100px) {
    #card-mover {
      width: 100vw;
      transform: translateY(0%) translateX(0%) ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 900px) {
    #img-mover {
      display: flex;
      max-width: 45vw;
      max-height: 45vh;
      transform: translateY(40%) translateX(10%) ;
    }
  }
}



