/* header{
  height: 100vh;
  width: auto;
}


footer{
  height: 100vh;
  width: auto;
} */


#footer-row{
  transform: translateX(6.5%) translateY(33%);
  width: 88vw;
  height: 18vw;
}


.header-row{
  height: 100%;
  width: 100%;
}

.main-font{
  font-family: 'Orbitron', sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

.glow-button:hover {
  filter: drop-shadow(3px 0px 3px rgb(212, 95, 207));
  color: rgb(253, 142, 244)!important;
  transition: color 200ms ease-in;
}

i:hover {
  filter: drop-shadow(3px 0px 3px rgb(212, 95, 207));
  color: rgb(253, 142, 244)!important;
  transition: color 100ms ease-in;
}

.review-cards{
  transform: translateY(10%);
}


.parallax {
  background-image: url('https://images-na.ssl-images-amazon.com/images/S/pv-target-images/593285e169754e128ee9772b0b3459c4b4078152c2842f3a5d222da0efad481b._RI_.jpg');
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-background{
  background-image: url('https://images6.alphacoders.com/884/thumb-1920-884393.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
}

.move-that-left{
  transform: translateX(-33%);
}


.move-that-card{
  transform: translateY(-77%) translateX(-22%);
}

.move-that-down{
  transform: translateY(33%);
}

.bg-middle{
  background-image: url('https://wallpapercave.com/wp/wp2801544.jpg');
  background-size: cover;
}

.move-that-ish{
  transform: translateY(-50%) translateX(22%);
  max-height: 66vh;
}

.move-that-yabish{
  transform: translateY(-11%) translateX(39%);
}

.move-it-boi1{
  transform: translateX(0%) translateY(88%);
  height: 33vh;
}

.move-it-boi2{
  transform: translateX(0%) translateY(88%);
  height: 33vh;
  position: sticky;
}

.font-killer{
  font-family: Arial, Helvetica, sans-serif;
}



@supports (display: flex) {
  @media screen and (max-width: 900px) {
    #text-right {
    display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 280px) {
    #go-away2 {
    display: none;
    }
  }
}


@supports (display: flex) {
  @media screen and (max-width: 1200px) {
    #card2, #go-away {
    display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 850px) {
    #go-away {
      transform: translateY(50%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width:900px) {
    #card3 {
      width: 90%;
      height: 48vh;
      transform: translateY(-103%) translateX(5%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width:900px) {
    #card1 {
      width: 90%;
      height: 25vh;
      transform: translateY(200%) translateX(5%);
    }
  }
}


@supports (display: flex) {
  @media screen and (max-width: 850px) {
    #go-away3 {
      display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 850px) {
    #go-away4 {
      display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #text-clapper1 {
      transform: translateY(-20%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 850px) {
    #text-clapper2 {
      transform: translateY(-30%);
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 1100px) {
    #card-mover {
      width:88.5vw;
      height: 100vh;
      transform: translateY(0%) translateX(6%) ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 900px) {
    #img-mover {
      display: flex;
      max-width: 50vw;
      max-height: 50vh;
      transform: translateY(50%) translateX(77%) ;
    }
  }
}


@supports (display: flex) {
  @media screen and (max-height: 700px) {
    #img-mover {
      display: flex;
      max-width: 55vw;
      max-height: 55vh;
      transform: translateY(50%) translateX(-30%) ;
    }
  }
}


@supports (display: flex) {
  @media screen and (max-width: 900px) {
    #first-to-last {
      display: flex;
      max-height: 15vh;
      transform: translateY(500%) translateX(0) ;
    }
  }
}


@supports (display: flex) {
  @media screen and (max-width: 900px) {
    #second-2-last {
      display: flex;
      max-height: 18vh;
      transform: translateY(333%) translateX(0) ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 820px) {
    #second-2-last {
      display: flex;
      transform: translateY(420%) translateX(0) ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 1300px) {
    #review-card-left {
      display: none;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 1100px) {
    #review-card-center {
      transform: translateY(255%) translateX(0) ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 500px) {
    #review-card-center {
      transform: translateY(255%) translateX(0) ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-height: 700px) {
    #review-card-center {
      transform: translateY(255%) translateX(0) ;
    }
  }
}


@supports (display: flex) {
  @media screen and (max-width: 1300px) {
    #review-card-right {
      display:none ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-width: 920px) {
    .footer-row {
      display:flex;
      flex-direction: column;
      height: 100vh ;
    }
  }
}

@supports (display: flex) {
  @media screen and (max-height: 700px) {
    .bye-bye {
      display: none;
    }
  }
}


@supports (display: flex) {
  @media screen and (max-width: 800px) {
    #text-remover {
      display: none;
    }
  }
}







